/* use flex-------------------------------------------------------------- */
.box{
  display:flex;
  height: 270px
}

.box * {
 border-radius: 4px;
}
.box-big1{
  width: 112px;
  background-color: rgb(70, 70, 197);
  height: 100%;
  margin-right: 5px;
}

.box-big2{
  width: 152px;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.big2-child1{
  width: 152px;
  height: 35.55%;
  background-color: red;
  margin-bottom: 5px;
}

.big2-child2{
  display: flex;
  height: 63.2%;
 
}

.big2-child2 .child1{
  width: 82px;
  height: 100%;
  background-color: orange;
  margin-right: 5px;
}
.big2-child2 .child2{
 display: flex;
 flex-direction: column;
}

.big2-child2 .child2 .lastchild1{
  width: 67px;
  height: 38.2%;
  background-color: black;
  margin-bottom: 5px;
 }

 .big2-child2 .child2 .lastchild2{
  width: 67px;
  height: 61.8%;
  background-color: rgb(120, 19, 19);
 }



/* use grid--------------------------------------------------------------- */

 .box2 * {
  border-radius: 4px;
  background-color: #386DBF;
 }

 .box2{
  display: grid;
  grid-template-columns: 112px 82px 67px;
  grid-template-rows: 0.96fr 0.65fr 1fr;
  height: 270px;
  grid-gap: 5px
 }

 .hoa1{
  grid-row: 1/4;
 }
 .hoa2{
  grid-column: 2/4;
  grid-row: 1/2;
 }
 .hoa3{
  grid-row: 2/4;
 }
 .hoa4{
  grid-row: 2/3;
 }
 .hoa5{
  grid-row: 3/4;
 }

  

  